body{
    font-family: 'Segoe UI';
    padding: 5px;
    background-color: #ffffff;
    width: 1450px;
}
.topnav{
    overflow: hidden;
    background-color:rgb(255, 255, 255);
}
.topnav >ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 3px;
    background-color: orangered;
    text-align: center;
}
.topnav>ul>li>a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}
.topnav>ul>li>a:hover{
    color: yellow;
}
.topnav>ul>li{
    display: inline-block;
    position: relative;
}

.topnav {
    float: left;
    display: block;
    color: greenyellow;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
    line-height: 20px;
    float: none;
    font-size: larger;
}
.topnav a{    
    padding: 20px 40px 20px 10px;
    float: right;
    text-decoration: none;
    color: #1b1919;

}
.topnav a:hover{
    background-color: rgb(53, 221, 207);
    color: white;
    padding:20px;
    border-radius: 10px;
}
.topnav img{
    float: left;
    width: 250px;
    padding: 5px 0px 0px 80px;
    font-size: 40px;
}
.header {
    padding: 10px;
    text-align: center;
    background: rgb(255, 255, 255);
}
.header img{
    width: 100%;
    height: 350px;
}
h1{
    text-align: center;
    clear: both;
}
.article{
    padding: 0px 0px 0px 40px;
    margin: 10px;
    
}
.article img{
    width: 100%;
    height: 310px;
}
.article .new{
    width: 29%;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    border-radius: 10px;
    float: left;
    box-shadow: 2px 2px 2px #969696;
}
.article:after{
    content: '';
    display: table;
    clear: both;
}
.article h3{
    font-weight: bolder;
    font-size: larger;
    color: rgb(41, 39, 39);
}
.article p{
    font-size: larger;
}
.article .new:hover{
    box-shadow: inset 1px -2px 10px rgb(2, 116, 11);
    padding: 11px;
    margin: 11px;
}

.footer{
    clear: both;
    background-color: rgb(143, 255, 221);
    color: rgb(0, 0, 0);
    font-size: larger;
    min-height: 500px;
    border-radius: 10px;
}
.footer .footer1{
    float: left;
    width: 40%;
    padding: 20px 20px 20px 100px;
}
.footer1 img{
    float: left;
    width: 5%;
    height: 5%;
    margin-right: 10px;
}
.footer .footer2{
    float: left;
    width: 40%;
    padding: 20px 20px 20px 100px;
}
.footer2 img{
    float: right;
    width: 60%;
    height: 140px;
    margin-right: 10px;
}
.footer2 a{
    text-decoration: none;
    color: black;
}
.footer2 a:hover{
    color: rgb(1, 65, 14);
    font-weight: bolder;
}
.footer .footer3{
     clear: both;
     color: white;
     text-align: center;
     background-color: black;
     padding: 5px;
     margin: 1px;
     border-radius: 10px;
}
.article1{
    margin-left: 20px;
    padding: 0px 20px 0px 20px;
}
.article1 .columeleft{
    float: left;
    width: 75%;
}
.article1 .columeright{
    float: right;
    width: 25%;
    height: 530px;
    background-color: rgb(255, 255, 255);
}
.columeleft h1{
    text-align: center;
}
.new1 img{
    width: 100%;
    height: 160px;
}
.new1{
    float: left;
    width: 20%;
    background-color: rgb(192, 253, 192);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: smaller;
    box-shadow: 2px 2px 2px #969696;
    text-align: justify;
}
.article1:after {
    content: "";
    display: table;
    clear: both;
}
.article1 .new1:hover{
    box-shadow: inset 1px -2px 10px rgb(2, 116, 11);
    padding: 11px;
    margin: 11px;
}
.new2{
    float: left;
    width: 80%;
    background-color: rgb(4, 78, 68);
    padding: 0px 15px 0px 15px;
    margin: 20px 20px 0px 20px;
    text-align: center;
    color: white;
    box-shadow: 2px 2px 2px #969696;
}
.new2 h4{
    text-align: left;
    font-size: smaller;
}
.new2 h4:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 131, 0);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.new3 img{
    width: 100%;
    height: 300px;
}
.article2{
    margin-left: 40px;
    padding: 10px;
}
.new3 {
    float: left;
    width: 30%;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px #969696;
}
.article2 .new3:hover{
    box-shadow: inset 1px -2px 10px rgb(2, 116, 11);
}
.article2 h2{
    text-align: center;
}
.article2 p{
    padding: 0px 10px 10px 10px;
    text-align: justify;
}
