body{
    font-family: 'Segoe UI';
    padding: 5px;
    background-color: #ffffff;
    width: 1450px;
}
.topnav{
    overflow: hidden;
    background-color:rgb(255, 255, 255);
}
.topnav >ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 3px;
    background-color: orangered;
    text-align: center;
}
.topnav>ul>li>a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}
.topnav>ul>li>a:hover{
    color: yellow;
}
.topnav>ul>li{
    display: inline-block;
    position: relative;
}

.topnav {
    float: left;
    display: block;
    color: greenyellow;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
    line-height: 20px;
    float: none;
    font-size: larger;
}
.topnav a{    
    padding: 20px 40px 20px 10px;
    float: right;
    text-decoration: none;
    color: #1b1919;

}
.topnav a:hover{
    background-color: rgb(53, 221, 207);
    color: white;
    padding:20px;
    border-radius: 10px;
}
.topnav img{
    float: left;
    width: 250px;
    padding: 5px 0px 0px 80px;
    font-size: 40px;
}
.header {
    padding: 10px;
    text-align: center;
    background: rgb(255, 255, 255);
}
.header img{
    width: 100%;
    height: 350px;
}

.footer{
    clear: both;
    background-color: rgb(143, 255, 221);
    color: rgb(0, 0, 0);
    font-size: larger;
    min-height: 500px;
    border-radius: 10px;
}
.footer .footer1{
    float: left;
    width: 40%;
    padding: 20px 20px 20px 100px;
}
.footer1 img{
    float: left;
    width: 5%;
    height: 5%;
    margin-right: 10px;
}
.footer .footer2{
    float: left;
    width: 40%;
    padding: 20px 20px 20px 100px;
}
.footer2 img{
    float: right;
    width: 60%;
    height: 140px;
    margin-right: 10px;
}
.footer2 a{
    text-decoration: none;
    color: black;
}
.footer2 a:hover{
    color: rgb(1, 65, 14);
    font-weight: bolder;
}
.footer .footer3{
     clear: both;
     color: white;
     text-align: center;
     background-color: black;
     padding: 5px;
     margin: 1px;
     border-radius: 10px;
}
.article1 .columeleft >p{
font-size: large;
font-weight:lighter;
}
.article1 .columeleft{
    float: left;
    width: 70%;
    padding-left: 20px;
}
.article1 .columeright{
    float: right;
    width: 25%;
    background-color: rgb(255, 255, 255);
}
.columeright .new2>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 3px;
    background-color: rgb(15, 133, 5);
    text-align: center;
}
.new1 img{
    width: 100%;
    height: 160px;
}
.new1{
    float: left;
    width: 20%;
    background-color: rgb(192, 253, 192);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: smaller;
    box-shadow: 2px 2px 2px #dfdfdf;
    text-align: justify;
}
.article1 .new2:hover{
    box-shadow: inset 1px -2px 10px rgb(2, 116, 11);
    padding: 11px;
    margin: 11px;
}
.new2{
    float: left;
    width: 90%;
    background-color: rgb(252, 247, 247);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: smaller;
    box-shadow: 1px 1px 1px #969696;
    text-align: justify;
}
.new2 img{
    width: 30%;
    height: 180px;
    float:left ;
    padding-right: 20px;
}
.content2 a{
    font-size: large;
    text-decoration: none;
    color: black;
}
.article1:after {
    content: "";
    display: table;
    clear: both;
}
.article1 .new1:hover{
    box-shadow: inset 1px -2px 10px rgb(2, 116, 11);
    padding: 11px;
    margin: 11px;
}
.h-menu>li>a{
    display: block;
}
.h-menu{
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: #f8f8f8;
    text-align: left;
    border-radius: 5px;
}
.h-menu li{
    display: inline-block;
}
.h-menu>li>a{
    display: block;
    line-height: 30px;
    padding: 0px 10px;
    color: rgb(2, 116, 11);
    text-decoration: none;
}
.h-menu>li>a:hover{
    color: #1b1919;
}
.h-menu .sub-menu{
    width: 330px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 0 1px gray;
    position: absolute;
    display: none;
    background-color: rgb(1, 65, 14);
}
.h-menu> li:hover>.sub-menu{
    display: block;
}
.h-menu ul>li>a{
    display: block;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
}
.h-menu ul>li>a:hover{
    color: white;
    width: 330px;
    line-height: 30px;
    background-color: white;
    color: rgb(1, 65, 14);
    border-radius: 3px;
    margin: 2px;
}